<header class="header">
  <div class="header__pill">
    <a class="brand" href="#" aria-label="IdeaForge Home">
      <span class="brand__text">
        Idea<span class="brand__word brand__word--accent">Forge</span>
      </span>
    </a>

    <div class="header__right">

      <div class="header__social" aria-label="Social Links">
        <a class="social-link" href="https://github.com/WalyssonCavalcante" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
          <svg class="social-link__icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 22v-4a4.8 4.8 0 0 0-1-3c3.3-.4 6.8-1.6 6.8-7A5.4 5.4 0 0 0 19.4 4
              5 5 0 0 0 19.3 1S17.6.5 15 2.4a13.2 13.2 0 0 0-6 0C6.4.5 4.7 1 4.7 1a5 5 0
              0 0-.1 3A5.4 5.4 0 0 0 3.2 8c0 5.4 3.5 6.6 6.8 7a4.8 4.8 0 0 0-1 3v4" />
            <path d="M9 18c-4.5 2-4.5-2-6-2" />
          </svg>
        </a>

        <a class="social-link" href="www.linkedin.com/in/walysson-cavalcante" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
          <svg class="social-link__icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z" />
            <rect x="2" y="9" width="4" height="12" />
            <circle cx="4" cy="4" r="2" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>